*{
    padding: 0;
    margin: 0;
    line-height: 22px;
    box-sizing: border-box;
    }
    body{
    font-family: Segoe UI;
    margin: 0 auto;
    }
    ul, li {
    list-style: none;
    }
    a {
    text-decoration: none;
    }
    #header {
    color: white;
    font-family: Segoe UI;
    font-size: 15px;
    width: 100%;
    z-index: 2;
    height: 70px;
    position: fixed;
    }
    #logo {
    position: fixed;
    top: 8px; left: 45px;
    }
    .header_top {
    height: 70px;
    width: 100%;
    background-image: url(../Images/IMAGE/header/bg.png);
    padding: 10px 10px 0 10px;
    text-align: right;
    }
    #searchform {
    display: flex;
    justify-content: flex-end;
    }
    #searchform .item {
    display: flex;
    margin-left: -17px;
    padding: 0 10px;
    }
    #searchform #register {
    line-height: 15px;
    margin: 5px;
    }
    #searchform #register a {
    color: white;
    }
    #searchform .search_textbox {
    width: 220px;
    height: 23px;
    border: 1px solid #F7941D;
    color: #F7941D;
    font-size: 17px;
    padding-left: 5px;
    }
    #searchform .search_button {
    color: #FFC3A5;
    height: 23px;
    }
    #menu ul {
    display: flex;
    justify-content: end;
    height: 20px;
    margin-top: 11px;
    }
    #menu ul li {
    border-right: 1px solid #FFBC9B;
    justify-content: start;
    height: 14px;
    padding: 0 1.5px;
    text-transform: lowercase;
    }
    #menu ul li a {
    color: white;
    font-size: 15px;
    display: block;
    margin-top: -5px;
    padding: 1px 7px;
    }
    #menu ul li.carting {
    border-right: none;
    padding: 0 1.5px;
    margin: -10px 0 10px 1px;
    }
    #menu ul li a.menu_active {
    background-color: #E78F61;
    border: 1px solid #F9CFB6;
    border-radius: 5px;
    }
    #menu ul li a:hover {
    background-color: white;
    }
    #menu ul li:hover a {
    color: #E0611D;
    border-radius: 3px 3px 0 0;
    }
    #flag {
    margin-top: 5px;
    }
    #flag img:hover {
    cursor: pointer;
    }
    #main {
    background-image: url(../Images/IMAGE/login/bg_reg.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 718px;
    }
    #body-content{
        width: 75%;
        margin: 0 auto;
        padding-top: 135px;
    }
    #body-content .page-title{
        color: #e53328;
        height: 88px;
        line-height: 80px;
        font-size: 60px;
        font-weight: bold;
        background-color: white;
        width: 360px;
        border-radius: 10px;
        padding-left: 15px;
    }
    #body-content .page-title{
        color: #e53329;
        font-size: 60px;
        font-weight: bold;
    }
    #main-contain{
        background-color: #ffe9db;
        width: 60%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .title-job{
        color: #403c38;
        font-size: 25px;
        font-weight: bold;
        margin-left: 20px;
        text-align: center;
    }
    .title-job i{
        position: relative;
        top: -8px;
        font-size: 20px;
    }
    .inf-job{
        color: #883a04;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .inf-job label{
        color: #883a04;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #main-contain p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .inf-job ol{
        padding-top: 10px;
        padding-left: 30px;
    }
    .inf-job ol li {
        list-style: decimal;
    }
    
   

    #footer {
    background-image: url(../Images/IMAGE/footer/bg_footer.png);
    background-repeat: repeat-x;
    bottom: 0; 
    /* không cho margin-bottom nữa */
    color: white;
    font-size: 15px;
    position: fixed;
    width: 100%;
    padding: 8px 15px;
    display: flex;
    }
    #footer .left_footer ul {
    display: flex;
    }
    #footer .left_footer .item {
    padding-left: 7px;
    }
    #footer .left_footer .item i {
    display: block;
    width: 20px;
    height: 18px;
    font-size: 20px;
    color: white;
    margin-top: 0px;
    }
    #footer .right_footer {
    margin-left: auto;
    margin-right: 20px;
    }
    #footer .right_footer ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    }
#footer .right_footer ul li {
    border-right: 1px solid #FFBC9B;
    text-transform: lowercase;
    margin: 0 10px;
    padding-right: 10px;
    }
    #footer .right_footer ul li a {
    color: white;
    }
    #footer .right_footer ul li.final {
    border-right: none;
    }
    #footer .right_footer ul li:hover a {
    text-decoration: underline;
    }